/* App.css */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #5c4d9a;
  color: #ffe074;
}

h1 {
  font-size: 2rem;
  color: #ffdb4d;
  margin-bottom: 1rem;
}

@font-face {
  font-family: 'Computer';
  src: url('../src/components/computer_2/Computer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input[type="text"],
textarea {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #d4a373;
  border-radius: 5px;
  background-color: #d3b8e6;
  font-family: 'Roboto', sans-serif;
  color: #6c63ff;
}
.file-input {
  margin-top: 20px;
  margin-bottom: 16px;
}

textarea {
  height: 100px;
}

button {
  display: none; /* Hide the button */
}

.result {
  background-color: #ffdb4d;
  color: #5c4d9a;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  margin-top: 1rem;
}

.result-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.result-text {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.gavel-svg {
  width: 50px;
  height: 50px;
}

.plus-button {
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar {
  display: flex;
  flex-direction: column;
}

.toolbar .text-2xl {
  margin-right: 8px;
}
.toolbar button {
  cursor: pointer;
  background-color: #f3f3f3;
  border: none;
  padding: 8px;
  text-align: left;
  width: 100%;
}

/* New styles for the audio recorder and waveform */
.audio-recorder {
  text-align: center;
  margin-top: 20px;
}

.waveform {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  background-color: #d3b8e6;
  border: 2px solid #d4a373;
  border-radius: 5px;
  position: relative;
}

.recording-indicator {
  margin-top: 10px;
  color: #ff4c4c;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #5c4d9a;
  background-color: #ffdb4d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e6c44c;
}

.btn-stop {
  background-color: #ff4d4d;
  color: #ffffff;
}

.btn-stop:hover {
  background-color: #e63e3e;
}